#container-documents {
  width: 670px !important;
  background-color: white;
  padding: 10px;
}

/* FILE UPLOAD */
.progress {
  position:relative;
  width:400px;
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 3px;
  margin: 20px auto;
}

.bar {
  background-color: #B4F5B4;
  width:0%;
  height:20px;
  border-radius:3px;
}

.percent {
  position:absolute;
  display:inline-block;
  top:3px;
  left:48%;
}

#status {
  margin: auto;
}


/* QUICK FIX FOR BTN */
.btn-inverse:hover {
  border: 1px solid black !important;
}

.label-tag:hover {
  cursor:pointer;
}

.document-action {
  padding-left: 10px;
}

.medium-padding {
  padding: 10px 10px 0px 10px;
}

.label-small {
  font-size: 8px;
  margin-left: 5px;
  margin-top: 3px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.file-version {
  margin-right: 4px;
  cursor: pointer;
}

.file-date {
  white-space: nowrap;
}

.no-margin {
  margin: 0px;
}

