#container-documents {
  width: 670px !important;
  background-color: white;
  padding: 10px;
}

/* FILE UPLOAD */
.progress {
  position:relative;
  width:400px;
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 3px;
  margin: 20px auto;
}

.bar {
  background-color: #B4F5B4;
  width:0%;
  height:20px;
  border-radius:3px;
}

.percent {
  position:absolute;
  display:inline-block;
  top:3px;
  left:48%;
}

#status {
  margin: auto;
}


/* QUICK FIX FOR BTN */
.btn-inverse:hover {
  border: 1px solid black !important;
}

.label-tag:hover {
  cursor:pointer;
}

.document-action {
  padding-left: 10px;
}

.medium-padding {
  padding: 10px 10px 0px 10px;
}

.label-small {
  font-size: 8px;
  margin-left: 5px;
  margin-top: 3px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.file-version {
  margin-right: 4px;
  cursor: pointer;
}

.file-date {
  white-space: nowrap;
}

[class^="minicon-"], [class*="minicon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.no-margin {
  margin: 0px;
}

.minicon-more {
 background: url('../img/minicons/triangle-medium-circle-1-01.png') no-repeat 0px 0px;
 background-size: 16px 16px;
}

.minicon-preview {
 background: url('../img/minicons/Edition-24.png') no-repeat 0px 0px;
 background-size: 16px 16px;
}

.minicon-rename {
 background: url('../img/minicons/Edition-31.png') no-repeat 0px 0px;
 background-size: 16px 16px;
}

.minicon-upload {
 background: url('../img/minicons/Transfers-5.png') no-repeat 0px 0px;
 background-size: 16px 16px;
}

.minicon-download {
 background: url('../img/minicons/Transfers-6.png') no-repeat 0px 0px;
 background-size: 16px 16px;
}

.minicon-share {
 background: url('../img/minicons/Interface-3.png') no-repeat 0px 0px;
 background-size: 16px 16px;
}

.minicon-properties {
 background: url('../img/minicons/Interface-58.png') no-repeat 0px 0px;
 background-size: 16px 16px;
}

.minicon-tags {
 background: url('../img/minicons/Vote-2.png') no-repeat 0px 0px;
 background-size: 16px 16px;
}

.minicon-delete {
 background: url('../img/minicons/Interface-71.png') no-repeat 0px 0px;
 background-size: 16px 16px;
}

.minicon-add {
 background: url('../img/minicons/Interface-69.png') no-repeat 0px 0px;
 background-size: 16px 16px;
}

/*-------------------------
	Dropbox Element
--------------------------*/



#dropbox{
	background:url('../img/background_tile_3.jpg');

	border-radius:3px;
	position: relative;
	/*margin:0px auto 0px;*/
	/*margin: 20px 20px;*/
	min-height: 100px;
	overflow: hidden;
	padding-bottom: 40px;
  /*width:670px;*/

	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}


#dropbox .message{
	font-size: 11px;
  text-align: center;
  padding-top:40px;
  display: block;
	color:#ccc;
}

#dropbox .message i{
	color:#888;
	font-size:10px;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}



/*-------------------------
	Image Previews
--------------------------*/



#dropbox .preview{
	width:245px;
	height: 215px;
	float:left;
	margin: 55px 0 0 60px;
	position: relative;
	text-align: center;
}

#dropbox .preview img{
	max-width: 240px;
	max-height:180px;
	border:3px solid #fff;
	display: block;

	box-shadow:0 0 2px #000;
}

#dropbox .imageHolder{
	display: inline-block;
	position:relative;
}

#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
	display: none;
}

#dropbox .preview.done .uploaded{
	display: block;
}



/*-------------------------
	Progress Bars
--------------------------*/



#dropbox .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	width:100%;
	left:0;
	bottom: 0;

	box-shadow:0 0 2px #000;
}

#dropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;

	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;

	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .preview.done .progress{
	width:100% !important;
}


